*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, article, aside, footer {
    
    padding: 10px;
}
body{
    background-color: rgb(8, 43, 240);
    margin-right: 0;
    width: 90%;
    max-width: 1800px;
    margin: auto;
    margin-top: 30px;

}
main{
    background-color: whitesmoke;
    display: grid;
    grid-template-areas: 
    "h h h  "
    "a a j "
    "f f f "
    ;
}
ul{
    
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
a{

    text-decoration: none;
}
header{
    grid-area: h;
}


article {
    grid-area: a;
    background-color: whitesmoke;
}
article .kontener{
    background-color: whitesmoke;
}
aside{
    grid-area: j;
}

footer{
    grid-area: f;
}
.kontener{
    display: grid;
    grid-template-columns: auto auto auto;
}

img{
    width: 70%;
}

h2 {
    text-align: center;
}

.warning{
    color: red;
}

@media only screen and (max-width: 375px) {
    body {
      font-size: 5vw;
      width: 100%;
    }
    main{
        grid-template-rows: 1fr;
        grid-template-areas: 
        "h"
        "a"
        "a"
        "a"
        "a"
        "j"
        "f"
        ;
    }
}

@media screen and (max-width: 314px) {
    body{
        width: 100%;
    }

    main{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        
        grid-template-areas:
        "h"
        "a"
        "a"
        "a"
        "a"
        "a"
        "j"
        "f"
        ;
    }
}
